---
import Section from "./Section.astro";
import { about } from "../data/content";
---

<Section id="about" number="01" title="About">
  <div class="space-y-4 text-stone-400">
    {about.map((paragraph) => <p set:html={paragraph} />)}
  </div>
</Section>
